
body{
    
    padding-top: 120px;
}
#hotdeal{
        font-size: 20px;
        margin-bottom: 20px;
}
#bif{
    font-size: 20px;
    margin-bottom: 20px;
}
.list-group{
    float: left;
}
.nav-item{
    a{
        margin-left: 15px;
    }
    a:hover{
        border-bottom: 2px solid greenyellow;
    }
}
